body {
  margin: 0;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

header {
  width: 100%;
  height: 400px;
  overflow: hidden;
  background: #285B5E;
  background-image: url(/img/ningnongsurfonlysea.png);
  background-size: cover;
  background-position-x: 60%;
}


header h1 {
  margin-top: 20px;
}

.section-heading {
  margin-top: 110px;
  color: white;
}

.text {
  overflow: hidden;
}

section {
  padding-top: 20px;
  color: white;
}

.centered {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
/*gradient generated at: http://www.perbang.dk/rgbgradient/*/
section:nth-of-type(2) {
  background: #0a6533;
}
section:nth-of-type(3) {
  background: #0c6345;
}
section:nth-of-type(4) {
  background: #0b643b;
}
section:nth-of-type(5) {
  background: #0b643e;
}
section:nth-of-type(6) {
  background: #0d634b;
}
section:nth-of-type(7) {
  background: #0b6539;
}
section:nth-of-type(8) {
  background: #0c6348;
}
section:nth-of-type(9) {
  background: #096727;
}

section:nth-of-type(4):after {
  height: 150px;
  width: 100%;
  background: #5D5B5C;
  background: url(/img/seagullfogno2.jpg);
  background-size: cover;
  background-position: center;
}
@media (min-width: 550px) {
  section:nth-of-type(4):after {
    height: 300px;
  }
}

section:nth-of-type(6):after {
  height: 100px;
  width: 100%;
  background: #C8D4DC;
  background: url(/img/Roadsignsurfcounselling_edited-1.jpg);
  background-size: cover;
  background-position: bottom;
}
@media (min-width: 550px) {
  section:nth-of-type(6):after {
    height: 300px;
  }
}

section:last-of-type:after {
  height: 100px;
  width: 100%;
  background: #223600;
  background: url(/img/daisies.jpg);
  background-size: cover;
  background-position: top;
}
@media (min-width: 550px) {
  section:last-of-type:after {
    height: 300px;
  }
}

.collapse-header h2 {
  display: inline-block;
}

.collapse-header i {
  margin-top: 12px;
  margin-left: 30px;
}

.collapsable {
  overflow: hidden;
/*  -webkit-transition: height 2s;
  transition: height 2s;
  transition-timing-function: ease;*/
}

.btn {
  font-weight: 600;
  font-size: 1.8rem;
  width: 85%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 20px;
  color: white;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.collapsed {
  height:0;
}

.expanded {
/*  animation-name: expand;
  animation-timing-function: ease;
  animation-duration: 2s;*/
  height: 100%;
}

@keyframes expand {
  from {height: 0;}
  to {height: auto;}
}